* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* PAGE */
.admin-login-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(
      135deg,
      #020617,
      #0f172a
    );
}

/* CARD */
.admin-login-card {
  width: 420px;

  background: #111827;

  padding: 40px;

  border-radius: 24px;

  border:
    1px solid rgba(255,255,255,0.05);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.4);
}

/* LOGO */
.admin-logo {
  text-align: center;

  color: #6366f1;

  margin-bottom: 10px;

  font-size: 36px;
}

/* TITLE */
.admin-login-card h2 {
  text-align: center;

  color: white;

  margin-bottom: 8px;

  font-size: 28px;
}

.admin-subtitle {
  text-align: center;

  color: #94a3b8;

  margin-bottom: 30px;

  font-size: 14px;
}

/* INPUT GROUP */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;

  margin-bottom: 8px;

  color: #cbd5e1;

  font-size: 14px;
}

/* INPUTS */
.input-group input {
  width: 100%;

  padding: 14px 16px;

  border: none;

  border-radius: 12px;

  background: #1e293b;

  color: white;

  outline: none;

  font-size: 15px;

  transition: 0.3s;
}

.input-group input:focus {
  border:
    1px solid #6366f1;

  box-shadow:
    0 0 10px rgba(99,102,241,0.4);
}

.input-group input::placeholder {
  color: #94a3b8;
}

/* BUTTON */
.admin-login-card button {
  width: 100%;

  padding: 14px;

  margin-top: 10px;

  border: none;

  border-radius: 12px;

  background:
    linear-gradient(
      135deg,
      #4f46e5,
      #6366f1
    );

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.admin-login-card button:hover {
  transform: translateY(-2px);

  box-shadow:
    0 5px 20px rgba(99,102,241,0.4);
}

/* RESPONSIVE */
@media (max-width: 500px) {

  .admin-login-card {
    width: 90%;
    padding: 30px;
  }

}