.layout{
  display:flex;
  min-height:100vh;
  background:#020617;
}

.sidebar{
  width:280px;

  background:#0f172a;

  border-right:1px solid rgba(255,255,255,0.08);

  padding:28px;

  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.logo-section{
  display:flex;
  align-items:center;
  gap:14px;

  margin-bottom:40px;
}

.logo-box{
  width:50px;
  height:50px;

  border-radius:16px;

  background:rgba(99,102,241,0.15);

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:24px;
}

.logo-section h2{
  color:white;
}

.logo-section p{
  color:#94a3b8;
  font-size:14px;
}

.menu{
  list-style:none;

  display:flex;
  flex-direction:column;
  gap:10px;
}

.menu li a{
  height:54px;

  display:flex;
  align-items:center;
  gap:14px;

  padding:0 18px;

  border-radius:16px;

  color:#cbd5e1;
  text-decoration:none;

  transition:0.3s;
}

.menu li a:hover{
  background:rgba(99,102,241,0.15);
  color:white;
}

.sidebar-bottom{
  margin-top:40px;
}

.user-box{
  display:flex;
  align-items:center;
  gap:14px;

  padding:18px;

  border-radius:18px;

  background:rgba(255,255,255,0.04);

  margin-bottom:18px;
}

.user-avatar{
  width:50px;
  height:50px;

  border-radius:16px;

  background:rgba(99,102,241,0.15);

  display:flex;
  align-items:center;
  justify-content:center;
}

.user-box h4{
  color:white;
}

.user-box p{
  color:#94a3b8;
  font-size:13px;
}

.logout-btn{
  width:100%;
  height:52px;

  border:none;

  border-radius:16px;

  background:#ef4444;

  color:white;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

  cursor:pointer;
}

.main-content{
  flex:1;
}